.editor-container {
   /* Color */
   background-color: white;

   margin: 2rem;

   border-radius: 8px;
}

.textbox {
   font-size: 14pt;
   font-family: 'Roboto';

   padding: var(--default-padding);
}

.quote-element {
   border-left: 2px solid #AAA;
   color: #AAA;
   font-style: italic;
}

.code-element {
   background: #EEE;
}